
# Watch for disk removal (cleanup mounts, restart smartd)
SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_WWN}=="0x5000cca26fe65f53", ACTION=="remove", RUN+="/usr/bin/systemd-run --no-block -u extdata-stop --service-type=oneshot /usr/local/libexec/extdata-action stop tahoe"
SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_WWN}=="0x5000cca291f18ada", ACTION=="remove", RUN+="/usr/bin/systemd-run --no-block -u extdata-stop --service-type=oneshot /usr/local/libexec/extdata-action stop napa"

# Watch for disks added (start vg, restart smartd)
SUBSYSTEM=="block", ENV{DEVTYPE}=="disk" ENV{ID_WWN}=="0x5000cca26fe65f53", ACTION=="add", RUN+="/usr/bin/systemd-run --no-block -u extdata-add --service-type=oneshot /usr/local/libexec/extdata-action start tahoe"
SUBSYSTEM=="block", ENV{DEVTYPE}=="disk" ENV{ID_WWN}=="0x5000cca291f18ada", ACTION=="add", RUN+="/usr/bin/systemd-run --no-block -u extdata-add --service-type=oneshot /usr/local/libexec/extdata-action start napa"

