# Needed because Denon doesn't have valid EDID when off
SUBSYSTEM=="drm", KERNEL=="card[0-9]*", ACTION=="change", RUN+="/usr/bin/systemd-run --no-block -u monitor-hotplug --service-type=oneshot /usr/local/sbin/monitor_hotplug"
